$color-1 = #fff
$color-2 = #348cb2
$color-3 = rgba(255, 255, 255, 0.175)
$color-4 = rgba(255, 255, 255, 0.35)

@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,900')
@import '../../css/font-awesome.min.css'

@require 'wrapper'
@require 'header'
@require 'footer'
@require 'background'

body
input
select
textarea
    color $color-1
    font-family 'Source Sans Pro', sans-serif
    font-size 15pt
    font-weight 300 !important
    letter-spacing -0.025em
    line-height 1.75em

body
    background $color-1
    overflow hidden

a
    transition border-color 0.2s ease-in-out
    border-bottom dotted 1px
    color inherit
    outline 0
    text-decoration none
    width 100%

    &:hover
        border-color transparent

#main
    height 100%
    left 0
    position fixed
    text-align center
    top 0
    width 100%

    &:before
        content ''
        display inline-block
        height 100%
        margin-right 0
        vertical-align middle
        width 1px

@media screen and (max-width: 1680px)
    body
    input
    select
    textarea
        font-size 13pt

@media screen and (max-width: 1280px)
    body
    input
    select
    textarea
        font-size 12pt

@media screen and (max-width: 736px)
    body
        min-width 320px

    body
    input
    select
    textarea
        font-size 11pt

